[Unit]
Description= Run Payload-SDK sample service
After=network.target

[Service]
Type=simple
ExecStartPre=/home/gremsy/khoa-dev/PayloadSdk/document/scripts/set_static_ip.sh
ExecStart=/home/gremsy/khoa-dev/PayloadSdk/document/scripts/run_demo_project.sh
StandardOutput=file:/home/gremsy/run_sample.log
StandardError=file:/home/gremsy/run_sample.err
Restart=always
Restart=10s

[Install]
WantedBy=multi-user.target
